// Intro
.intro {
  @include grid-row();

  .fp-intro {
	 @include breakpoint(small) {
		@include grid-column(12);

	 }

		h4 {
		  font-size: 1.125rem;
		  line-height: 1.6;
		  color: #777;
		  margin-bottom: 2rem;
		} 
  }
}

// Section divider
.section-divider {
  @include grid-row();

  hr {
	 @include grid-column(12);
	 @extend .dotted;
	 box-sizing: border-box;
  }
}


// Benefits
.benefits {
  @include grid-row();
  text-align: center;

  header {
	 @include grid-column(12);

	 h2 {
		font-weight: 300;
	 }

	 h4 {
		font-size: 1.125rem;
		line-height: 1.6;
		color: #777;
	 }
  }

  .semantic,
  .responsive,
  .customizable,
  .professional {
	 @include breakpoint(small) {
		@include grid-column(12);
	 }

	 @include breakpoint(medium) {
		@include grid-column(3);
	 }

	 img {
		padding: 1.25rem;
		margin: 1rem auto 0 auto;
	 }

	 h3 {
		color: #0a0a0a;
		// font-weight: 300;
		font-size: 1.75rem;
	 }

	 p {
		font-size: 0.9375rem;
	 }
  }

  .why-foundation {
	 @include grid-row();
	 @include grid-column(12);
	 margin-top: 4rem;
  }
}

.front-headline {
  margin: 0 auto;

  h2 {
	 text-align: center;
	 font-size: 2.5rem;
	 font-weight: 700;
	 color: $mainGrey;
	 margin-bottom: 1rem;
	 padding-bottom: 0;

	 .our-collections {
		text-transform: lowercase;
		color: $mainBlue;
		margin-top: 2rem;
	 }
  }

  h3 {
	 font-size: 1rem;
	 padding-top: 0;
	 margin-top: 0;
	 font-weight: 700;
	 text-align: center;
  }

}

.entry-content {
  text-align: center;
}

.fp-left {
  width: 80%;
  margin: 3rem auto 0;


  @include breakpoint(large) {
  width: 40%;
  float: left;


  p {
	 font-size: 1rem;
  }

  .front-headline {
	 h2 {
		  font-size: 3.4375rem;
		  font-weight: 700;
		  text-align: left;
		  line-height: 95%;
		  letter-spacing: -2px;
	 }

	 .bluetext {
		letter-spacing: 0px;
	 }

	 h3 {
		text-align: left;
		font-weight: 600;
		font-size: 1.5625rem;
		line-height: 135%;
		padding-bottom: 10px;
	 }
  }
  }
}

.fp-right {
  width: 60%;
  float: none;
  margin: 0 auto;


  @include breakpoint(large) {
    width: 60%;
    float: right;

    img {
      margin-left: 1.25rem;
      max-width: 112%;
      position: relative;
    }
	 width: 60%;
	 float: right;

	 img {
		margin-left: 1.25rem;
		max-width: 112%;
		position: relative;
		top: -40px;
	 }

  }
}

.intro {
  margin-bottom: 50px;

  .head-intro {
    text-align: center;

    h2 {
      font-family: Helvetica Neue LT Std;
      font-weight: 200;
      font-size: 2.4rem;
      color: #fff;

      .my123space {
        font-weight: 100;
        letter-spacing: -3px;
      }
    }

    h2:before {
      content: "";
      height: 2px;
      width: 270px;
      position: relative;
      top: 24px;
      left: 0;
      display: block;
      background-color: $mainBlue;
    }

    h2:after {
      content: "";
      height: 2px;
      width: 270px;
      position: relative;
      top: -36px;
      left: 930px;
      display: block;
      background-color: $mainBlue;
    }

  }

  .benefits {
    margin-top: 50px;
    margin-bottom: 50px;
    position: relative;

    img {
      z-index: 3;
      position: relative;
      
    }
  }

  @media print, screen and (min-width: 40em) {
    .benefits .semantic, .benefits .responsive, .benefits .customizable, .benefits .professional {
      width: 33.333%;

      p {
        width: 70%;
        margin: 0 auto;
        font-size: 1.1rem;
        color: #fff;
        padding-bottom: 20px;
        padding-left: 10px;
        z-index: 2;
        position: relative;
      }

    }
  }

  .mybox {
    max-height: 480px;


    @media screen and (max-width: 1320px) {
      p {
        position: relative;
        top: -10vh; //Do Dis
        left: 5px;
        font-size: .9rem !important;
      }
    }
  }

  .mybox:after {
    content: "";
    display: block;
    position: absolute;
    background-image: url('../images/cs2/bbox.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 100px;
    padding-left: 50px;
    padding-right: 50px;
    z-index: 1;
    width: 30%;
    top: -82px;
    left: 21px;
    height: 60vh;
    transform: scale(0.85, 1.0);
  }

  @media screen and (min-width: 1250px) {
    .mybox:after {
      width: 330px;
      top: -82px;
      left: 39px;
      height: 700px;
      transform: scale(0.85, 1.0);
    }
  }
}

@media screen and (min-width: 750px) {
  .responsive.mybox:after {
    left: 35vw;
  }

  .customizable.mybox:after {
    left: 68vw;
  }
}


@media screen and (min-width: 1320px) {
  .responsive.mybox:after {
    left: 440px;
  }

  .customizable.mybox:after {
    left: 840px;
  }
}



.intro-two {
  h2 {
    text-align: center;
    font-family: Helvetica Neue LT Std;

    font-weight: 200;
    font-size: 2.4rem;
    color: #fff;
  }

  h3 {
    text-align: center;
    color: #fff;
    font-size: 1.3rem;
    margin-bottom: 1rem;
  }

  h2.woocommerce-loop-category__title {
    color: #fff;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    font-family: Helvetica Neue LT Std;
    font-weight: 100;
  }
}

.collections-box {
  height: 100%;
  width: 100%;

  @media screen and (min-width: 1325px) {
  border-left: 2px solid $mainBlue;
  border-right: 2px solid $mainBlue;
  border-bottom: 2px solid $mainBlue;

    &:before {
      content: "";
      height: 2px;
      width: 350px;
      position: relative;
      top: 0;
      left: -80px;
      display: block;
      background-color: $mainBlue;
    }

    &:after {
      content: "";
      height: 2px;
      width: 350px;
      position: relative;
      top: -130.5px;
      left: 769px;
      display: block;
      background-color: $mainBlue;
    }

  .coll-b1 {
    width: 10px;
    height: 10px;
    border: 2px solid $mainBlue;
    border-radius: 6px;
    position: relative;
    background: $mainBlue;
    top: -6px;
    left: 267px;
    display: block;
  }

  .coll-b2 {
    width: 10px;
    height: 10px;
    border: 2px solid $mainBlue;
    border-radius: 6px;
    position: relative;
    background: $mainBlue;
    top: -17px;
    left: 767px;
    display: block;
  }

  }

  .coll-text {
    position: relative;
    top: -50px;
  }

  // h2.coll-text:before {
  //   content: "";
  //   height: 2px;
  //   width: 20vw;
  //   position: relative;
  //   top: 30px;
  //   left: -3.8vw;
  //   display: block;
  //   background-color: $mainBlue;
  // }
}

@media screen and (min-width: 40em) {
  .intro .fp-intro {
    padding-right: 4.9375rem;
    padding-left: 4.9375rem;
  }
}
.sign-in {

  background: url("../images/cs2/login-bg.jpg") no-repeat;
  background-size: cover;
  min-height: 100vh;
  padding-bottom: 7.5vh;
  position: absolute;
  width: 100%;

  .hero {
	 background: none;
	 padding: 0;
	 margin: 0;
	 z-index: 3
  }

  .bg-overlay {
  		position: fixed
  }

  #Parallax {

	 .cs_headerbox {
		position: relative;
		left: 0;
		transform: translate(0);
		padding: 3.1vw 1vw;
		margin: 7.5vh auto;	
		width: 100vw;
		max-width: 16.65vw;
	 }

	 .title-container {
	 	 position: relative;

	 	 h1 {
	 	 	transform: translateY(0);
	 	 	padding: 0;
	 	 	
	 	 }
	 }
  }

  .login-form-popup {
		position: absolute;
    top: 50%;
		transform: translate(-50%, -50%);
		left: 50%;
    background-color: rgba(0,0,48,0.82);

    label, p {
      color: #D2C8D6;
    }

    a {
      color: $mainBlue;
    }

		@media screen and (max-width: 990px) {
			width: 80vw;
		}

  }

}

.sign-in + #footer-container {
  display: none
}


.ico123 {
  background-repeat: no-repeat;
  background-size: contain;
  width: 30vw;
  height: 337px;
  z-index: 3;
  position: relative;

  @media screen and (min-width: 1320px) {
    width: 370px;
    height: 337px;
  }
}


.ico1 {
  background-image: url('../images/cs2/123/1-off.png');

  &:hover {
    background-image: url('../images/cs2/123/1-on.png');
  }
}

.ico2 {
  background-image: url('../images/cs2/123/2-off.png');

  &:hover {
    background-image: url('../images/cs2/123/2-on.png');
  }
}

.ico3 {
  background-image: url('../images/cs2/123/3-off.png');

  &:hover {
    background-image: url('../images/cs2/123/3-on.png');
  }
}

.owl-carousel {
	list-style: none;
	position: relative;

	li {
		width: 100%!important
	}

	.owl-nav {
		background: $mainBlue;
		position: absolute;
		top: 30%;
		left: 0;
		right: 0;		

		.owl-prev, .owl-next {
			position: absolute;
			top: 50%;
			padding: 1rem;
			box-shadow: 1px -1px 0 1px $mainBlue inset;  
			border: solid transparent;
			border-width: 0 0 2rem 2rem;
			transition: 0.2s;
			font-size: 0;
	
			&:hover {
        		box-shadow: 2px -2px 0 2px $mainBlue inset;
			}		

		}


		.owl-prev { 
			transform:rotate(45deg);
			left: -70px;
		}

		.owl-next {			
			transform:rotate(225deg);
			right: -70px;
		}   

	}

  .owl-item {
    transform: scale(0.8)!important;
    opacity: 0.6;
    transition: .4s ease all;
  }

  .center {
    opacity: 1;
    transform: scale(1.1)!important;
  }


}

.frontpage-caro {
  margin-bottom: 100px;

  h2 {
    margin-bottom: 40px;
  }

  img {
  }
}

.owl-carousel {
  .owl-nav {
    top: 38%;
  }

  .owl-stage {
    padding-top: 1px;

    .owl-item {
      img {
        border: 2px solid $mainBlue;
      }

    &:hover img {
        -webkit-box-shadow: 0px 0px 28px -1px rgba(255,255,255,0.65) !important;
        -moz-box-shadow: 0px 0px 28px -1px rgba(255,255,255,0.65) !important;
        box-shadow: 0px 0px 28px -1px rgba(255,255,255,0.65) !important;
      }
    }
  }
}

.cat-thumb {
  float: left;
  margin: 0 3.8% 2.992em 0;
  padding: 0;
  position: relative;
  width: 22.05%;

  &:hover img {
    -webkit-box-shadow: 0px 0px 28px -1px rgba(255,255,255,0.65);
    -moz-box-shadow: 0px 0px 28px -1px rgba(255,255,255,0.65);
    box-shadow: 0px 0px 28px -1px rgba(255,255,255,0.65);
  }

  &:hover h2 {
    letter-spacing: 2px;
  }

  img {
    border: 2px solid $mainBlue;
    -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0);
    -moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0);
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0);
    transition: box-shadow 0.4s ease;
  }

  h2 {
    color: #fff;
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 500;
    margin-top: 10px;
    text-transform: uppercase;
    transition: letter-spacing 0.3s ease;
  }
}

.cat-thumb:first-child {
  clear: both;
}

.cat-thumb:nth-child(4n) {
  margin-right: 0;
}

// .three-test {
//   height: 370px;
//   width: 336px;
//   background: url('/app/themes/FoundationPress/assets/images/cs2/123/3-off-foroverlay.png');
//   background-repeat: no-repeat;
//   background-size: contain;
//   position: relative;

//   &:before {
//     content: "";
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 336px;
//     height: 336px;
//     background: url('/app/themes/FoundationPress/assets/images/cs2/123/3-off-overlay.png');
//     background-repeat: no-repeat;
//     background-size: contain;
//     opacity: 1;
//     transition: 0.6s ease;
//   }
// }

// .customizable {
//   position: relative;
//   left: 50px;
//   padding-right: 0 !important;
//   padding-left: 1.875rem !important;

//   .ico123 {

//   }

//   p {

//   }
// }


@media print, screen and (min-width: 40em) {
  .column, .columns {
    padding-left: 0;
    padding-right: 0;
  }
}

.size-shop_single {
  border: 2px solid $mainBlue;
}


.products {
  li {
    a {
      img {
        border: 2px solid $mainBlue;
      }
    }
  }
}
