.search-query {

	.title {
		overflow: hidden;
		text-align: center;
		color: #00abed;
		font-family: Helvetica Neue LT Std;
		display: block;
		transition: all 0.6s ease;
		margin: 0 0 1rem;

		&.title--large {

			font-size: 2.4rem;

			span {
				display: inline-block;
				position: relative;
				font-weight: 200;
			}

		}

	}

	h4 {
		color: #fff;
		text-align: center;
		font-size: .92em;
		margin-bottom: 50px;
	}

	.results {
		text-align: center;

		a {

			&:hover img {

				-webkit-transition: -webkit-transform 1.25s cubic-bezier(0,0,.2,1);
    			transition: -webkit-transform 1.25s cubic-bezier(0,0,.2,1);
    			transition: transform 1.25s cubic-bezier(0,0,.2,1);
   			transition: transform 1.25s cubic-bezier(0,0,.2,1),-webkit-transform 1.25s cubic-bezier(0,0,.2,1);
   			transform: scale(1.1);
			}

			&:hover h2 {
				top: 20px;
				color: $mainBlue;
			}

		}

		img {
			transition: all 0.6s ease;
			border: 2px solid #00abed;

			@media screen and (min-width: 769px) {
				min-height: 348px;
			}
		}

		h2 {
			position: relative;
			top: 0;
			color: #fff;
			font-weight: 600;
			font-size: 1rem;
			padding: 10px 0 .5em;
			margin: 0;
			transition: all .6s ease;
		}

	}

	.results:last-child:not(:first-child),
	.results:last-child:not(:first-child) {
		float: left;
	}

	.results {
		@media screen and (max-width: 768px){

		float: left;
		width: 48%;
		margin: 0 0 2.992em;
		height: auto;
		clear: both;

		&:nth-of-type(2n){
			float: right;
			clear: none;
		}

		}

		@media screen and (min-width: 769px){
		float: left;
		margin: 0 4% 2.992em 0;
		padding: 0;
		position: relative;
		width: 22%;
		}
	}

}


@media screen and (min-width: 769px){
	.search-query .results:nth-of-type(4n) {
		 margin-right: 0;
	}
}


.search-no-results {

	.page-content {
		text-align: center;

		#searchform {
			margin-top: 50px;
		}

	}

	#searchform {

		input {
			height: 34px;
			background-color: transparent;
			border-bottom: 1px solid #fff;
			box-shadow: none;
			outline: none;
			border: 0;
			border-bottom: 2px solid #fff;
			color: #fff;
			text-align: center;
			font-weight: 100;
			background-color: #040428;
			padding: 1.5rem;
			font-size: 1rem;
		}
	}

	h1 {
		font-weight: 100;
		text-align: center;
		color: $mainBlue;
	}

	p { color: #fff; }

	.pagination-centered {
		display: none;
	}

	#searchform .input-group {
		position: relative;

		.input-group-button {
			position: absolute;
			top: 6px;
			right: 25px;
		}
	}

	button {
		cursor: pointer;
	}


}
