	.woocommerce {

	#tab-description {
		text-align: left;
	}

	div.woocommerce-tabs.wc-tabs-wrapper {
		clear: none;
	}

	.related.products {
		clear: both;
	}

	table.variations {
		display: none;
	}


	div.product .woocommerce-tabs ul.tabs {
		display: none !important;
	}

	#tab-description {
		width: 48%;
		float: right;

		h2 {
			display: none;
		}
	}

	.woocommerce-ordering {
		font-size: 0.8rem;
			.select {
				font-size: 0.8rem;
			}
	}

	ul.products {
		li.product {
			a {
				img {
					margin: 0;
				}

				h3 {
					text-align: center;
					color: $darkGrey;
					font-weight: 600;
				}
			}
		}

		li:first-child {
			clear: both;
		}

		li:last-child {
			margin-right: 0;
		}
	}

	.similarcollections {
		padding-top: 50px;
	}


	.related.products {
		background-color: #eef1f8;
		box-shadow: 0px -2px 2px rgba(136,136,136,0.3);

		h2 {
			font-weight: 600;
			font-size: 2.5rem;
		}

		ul li a.button {
			display: none;
		}


	}
}


.post-48 {
	.checkout.woocommerce-checkout {
		.woocommerce-billing-fields {
			display: none;
		}
	}
}

.woocommerce-info {
	border-top-color: $mainBlue;

	&:before {
		color: $mainBlue;
	}
}

#add_payment_method #payment, .woocommerce-cart #payment, .woocommerce-checkout #payment {
	background: none;
}

.woocommerce-account {
	.woocommerce-MyAccount-navigation {
		float: right;
		padding-top: 40px;

		ul {
			list-style:none;
			text-align: right;
		}
	}

	.woocommerce-MyAccount-content {
		float: left;
		text-align: left;
		padding-top: 40px;
	}
}

.post-189 {
	padding-top: 20px;
}

.woocommerce table.shop_table {
	border-radius: 0;
}

.woocommerce ul.products li.product .woocommerce-loop-category__title, .woocommerce ul.products li.product .woocommerce-loop-product__title, .woocommerce ul.products li.product h3 {
	text-align: center;
	font-weight: 600;
	padding-top: 10px;
}
.product-category a, .product a {
	position: relative;
	display: block;
}

.product-category a h2, ul .product a h2  {
	position: relative;
	top: 0;
	transition: top;
}

.product-category a h2, ul .product a h2 {
	transition: all 0.6s ease;
}
ul.products li.product a img {
	transform-style: preserve-3d;
	transition: transform .4s cubic-bezier(0, 0, .2, 1);
}
.product-category a:hover h2, ul .product a:hover h2 {
	top: 20px;
}
.product-category:hover a h2, ul .product:hover a h2 {
	color: $mainBlue;
}

div.woocommerce-variation.single_variation > div.woocommerce-variation-availability, div.woocommerce-tabs.wc-tabs-wrapper {
	display: none;
}

#post-26 > div > div > div > p:nth-child(2) {
	display: none;
}

#customer_details > div.col-1 > div > h3 {
	text-align: left;
}

#place_order {
	font-family: 'Helvetica Neue LT Std', sans-serif;
}

#order_review_heading {
	margin-top: 2.5rem;
}

.similarcollections h2 {
	padding-bottom: 1.6rem;
}

h1.product_title.entry-title {
	font-size: 2rem;
}

body {
	background: url('../images/cs2/bg.jpg');
	background-size: cover;

	.intro {
		.fp-intro {
			overflow: hidden;

			.front-headline {
				h2 {
					margin-top: 50px;
					color: $mainBlue;
					font-weight: 200;
					font-size: 2.4rem;

					span { font-weight: 200; }

				}

			}

			.entry-content {
				nav {
					.breadcrumb {
						p {
							color: #fff;
							font-weight: 400;
						}
						nav, nav a {
							color: #fff;
							font-weight: 400;
						}
					}
				}
			}
		}
	}
}

body > section > div > div > ul > li > a > h2 {
	color: #fff;
}

.woocommerce ul.products li.product a img {
	-webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.23);
	-moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.23);
	box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.23);

	@media screen and (min-width: 768px) {
		height: 339px;
	}

}

.frontpage-caro .woocommerce ul.products li.product a img  {
	height: auto;
}

body > div.greyPage.frontpage-caro > div > div > div > ul > div.owl-stage-outer {
	 div {
		div {
			margin-top: 34px;
			li {
				a {
					img {
						height: auto;

						&:hover {
							transform: scale(1.05);
						}
					}
				}
			}
		}
	}
}

.woocommerce-Price-amount {
	display: none;
}

.product-total {
	display: none;
}

#customer_details > div.col-1 {
	display: none;
}

#customer_details > div.col-2 {
	float: none;
	clear: both;
	width: 100%;
}

#order_review > table > tbody > tr > td.product-name {
	width: 100%;
}

#order_review > table > tfoot > tr.cart-subtotal, #order_review > table > tfoot > tr.order-total, #order_review > table > thead {
	display: none;
}

#payment > div {
	margin-bottom: 150px;
}

#post-24 > header > h1 {
	color: $mainBlue;
	text-align: center;
	font-weight: 200;

}

#post-23 > header > h1 {
	color: $mainBlue;
	text-align: center;
	font-weight: 200;
}

.woocommerce-message {
	border-top-color: $mainBlue;
}

.woocommerce-message::before {
	color: $mainBlue;
}

#post-23 > div > div > form > table > thead {
	display: none;
}

#customer_details > div.col-2 > div.woocommerce-additional-fields > h3, #order_review_heading, #order_comments_field > label {
	color: #fff;
}

#order_comments_field > label {
	font-size: 1.2rem;
	margin-bottom: 10px;
}

#post-23 > div > div > div > div > div > a {
	width: 300px;
	font-weight: 300;
	padding-top: 13px;
	float: right;
}

#place_order {
	font-weight: 300;
	padding-top: 13px;
}

div.summary.entry-summary > h1 {
	color: #fff;
}

.breadcrumb, .breadcrumb__left {
	p, nav a, nav {
		color: #fff !important;
		font-weight: 500;
	}
}
div.summary.entry-summary > div > span.sku_wrapper {
	display: none;
}

div.summary.entry-summary > div > span.posted_in {
	color: #fff;
}

div.summary.entry-summary > form > div > div.woocommerce-variation-add-to-cart.variations_button.woocommerce-variation-add-to-cart-disabled > div {
	display: none;
}

div.summary.entry-summary > h1 {
	font-weight: 200;
}

.product-intro {
	margin-bottom: 10px;

}

div.woocommerce-product-gallery.woocommerce-product-gallery--with-images.woocommerce-product-gallery--columns-4.images > div > figure > div{
	@media screen and (min-width: 530px) {
		width: 440px !important;
		margin-bottom: 40px;
	}
}

.pswp__bg {
	opacity: 0.5 !important;
}

.owl-stage-outer {
	padding-top: 20px;
}

#post-23 > div > div > form > table > tbody > tr > td.product-quantity {
	display: none;
}

#customer_details > div.col-2 > div.woocommerce-additional-fields > h3 {
	display: none;
}

div > div > form > table > tbody > tr > td.product-name > dl {
	display: none;
}

div > div > form > table > tbody > tr > td.product-name {
	text-align: center;
	position: relative;
	left: -24px;
}

div > div > form > table > tbody > tr > td.product-thumbnail {
	max-width: 32px;
	width: 10px;
	padding: 6px 0 !important;
}

div > div > form > table > tbody > tr > td.product-remove {
	width: 10px;
	padding: 6px 2px !important;
}

.button {
	text-align: center;
	font-weight: 100 !important;
}

.main-content {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

#post-23 > div > div > form > table {
	width: 100%;
}

#order_review > table > tbody {
	text-align: center;
}

#order_review > table > tbody > tr > td.product-name > dl.variation, #order_review > table > tbody > tr > td.product-name > .product-quantity {
	display: none;
}

#order_comments {
	text-align: center;
}

#payment > div {
	padding: 0 !important;
}

#order_review > table > tbody > tr > td.product-name {
	padding-top: 10px;
	padding-bottom: 10px;
}

#post-24 > div > div > div > p {
	color: #fff;
}

#post-24 > div > div > div > ul {
	width: 258px;
	margin: 30px auto;
	color: #fff;
}

#post-24 > div > div > div > ul > li.woocommerce-order-overview__date.date {
	border: none;
	padding-right: 0;
	margin-right: 0;
}

#post-24 > div > div > div > ul > li.woocommerce-order-overview__total.total {
	display: none;
}

#post-24 > div > div > div > section > table > tfoot, #post-24 > div > div > div > section > table > thead {
	display: none;
}
.woocommerce-order-details h2 {
	margin-top: 20px;
	font-size: 1.5rem;
	font-weight: 100;
	color: $mainBlue;
}
#post-24 > div > div > div > section > section > h3, #post-24 > div > div > div > section > section > address {
	display: none;
}

#post-24 > div > div > div > section > table > tbody > tr > td.woocommerce-table__product-name.product-name{
	padding: 10px 10px;
}

#post-24 > div > div > div > section > table > tbody > tr > td.woocommerce-table__product-name.product-name > ul {
	display: none;
}

#post-24 > div > div > div > section > table > tbody > tr > td.woocommerce-table__product-name.product-name > strong {
	display: none;
}

.woocommerce-pagination {
	display: block;
	width: 100%;
	clear: both;

	ul {

		border: none!important;
		margin: 0!important;
		padding: 0!important;

		li {
			border: none!important;

			span, a {
				display: none!important
			}

			.next, .prev { display: block!important }
		}
	}

	.next, .prev {
		padding: 1rem!important;
		box-shadow: 1px -1px 0 1px $mainBlue inset;
		border: solid transparent;
		border-width: 0 0 2rem 2rem;
		transition: 0.2s;
		font-size: 0!important;

		&:hover, &:visited, &:focus {
			box-shadow: 2px -2px 0 2px $mainBlue inset;
			background: none!important;
		}
	}

	.next {
		transform:rotate(225deg);
		right: -70px;
	}

	.prev {
		transform:rotate(45deg);
		left: -70px;
	}

}

.woocommerce-ordering .orderby {
	display: none;
}

h2.woocommerce-loop-product__title, .search-query .results h2 {
	color: #fff;
	font-weight: 100 !important;
}

.woocommerce-lost-password > section > div > article > header {

  .balls {
    position: relative;

    .coll-b1 {
      width: 10px;
      height: 10px;
      border: 2px solid $mainBlue;
      border-radius: 6px;
      position: absolute;
      background: $mainBlue;
      top: -63px;
      left: 400px;
      display: block;
    }

    .coll-b2 {
      width: 10px;
      height: 10px;
      border: 2px solid $mainBlue;
      border-radius: 6px;
      position: absolute;
      background: $mainBlue;
      top: -63px;
      left: 790px;
      display: block;
    }
  }
}

.woocommerce-checkout {
	header {
		.balls {
			position: relative;

		    .coll-b1 {
		      width: 10px;
		      height: 10px;
		      border: 2px solid $mainBlue;
		      border-radius: 6px;
		      position: absolute;
		      background: $mainBlue;
		      top: -65px;
		      left: 450px;
		      display: block;
		    }

		    .coll-b2 {
		      width: 10px;
		      height: 10px;
		      border: 2px solid $mainBlue;
		      border-radius: 6px;
		      position: absolute;
		      background: $mainBlue;
		      top: -65px;
		      left: 740px;
		      display: block;
		    }
		}
	}
}

#wp-submit {
	font-family: 'Helvetica Neue LT Std' !important;
	color: #fff !important;
	font-size: 1.2rem !important;
	border: 3px solid $mainBlue;
	padding-top: 22px !important;

	&:hover {
		background-color: rgba(0,0,0,0) !important;
		color: $mainBlue !important;
	}
}

div.summary.entry-summary > form > div > div.woocommerce-variation-add-to-cart.variations_button.woocommerce-variation-add-to-cart-enabled > button {
	padding-top: 12px;
}

.woocommerce ul.products li.product .button { display: none; }

.woocommerce div.product div.images img {
	@media screen and (max-width: 530px) {
		width: 70%;
		margin: 0 auto;
	}
}

.woocommerce-product-gallery__wrapper {
	@media screen and (max-width: 530px) {
		width: 100% !important;
	}
}

div.woocommerce-product-gallery.woocommerce-product-gallery--with-images.woocommerce-product-gallery--columns-4.images > div > figure > div {

	@media screen and (max-width: 530px) {
		min-height: 100px !important;
	}
}

.woocommerce table.shop_table {
	@media screen and (max-width: 530px){
		width: 90% !important;
		margin: 0 auto;
	}
}

div > div > form > table > tbody > tr > td.product-name {
	@media screen and (max-width: 769px){
		left: 0 !important;
	}
}

div > div > div > div > div > a.checkout-button.wc-forward {

	@media screen and (max-width: 530px){
		margin: 0 auto;
		float: none !important;
		left: 1%;
	}
	@media screen and (max-width: 768px){
		position: relative;
		right: 5vw;
	}
}
@media screen and (max-width: 530px) {
	.woocommerce-error {
		padding: 1em 5px;

		&:before {
			display: none;
		}

		a {
			padding-left: 10px;
		}
	}
	.woocommerce {
		.woocommerce-message {
			padding: 1em 5px;

			&:before {
				display: none;
			}

			a {
				padding-left: 10px;
				width: 142px;
			    white-space: pre-line;
			}
		}
	}
}

@media only screen and (max-width: 768px) {
	.woocommerce ul.products li.product, .woocommerce-page ul.products li.product, .woocommerce-page[class*=columns-] ul.products li.product, .woocommerce[class*=columns-] ul.products li.product {
		height: auto;
	}

}

#post-23 > div > div > form > table > tbody > tr:nth-child(2) {
	display: none;
}

div.woocommerce-product-gallery.woocommerce-product-gallery--with-images.woocommerce-product-gallery--columns-4.images > div {
    width: 440px !important;
}

.woocommerce {
	div.product {
		div.woocommerce-product-gallery.images {

			.flex-viewport {
				width: 440px !important;

				figure.woocommerce-product-gallery__wrapper {
					div {
						a {
							img {
								border: none !important;
							}
						}
					}
					div:first-child {
						a{
							img{
								border: 2px solid #00abed !important;
							}
						}
					}
				}
			}

			ol.flex-control-nav.flex-control-thumbs {
				width: 440px;

				li {
					width: 20% !important;
					margin: 0 2.5% !important;
				}
			}


		}
	}
}

