.woocommerce {

	#tab-description {
		text-align: left;
	}

	div.woocommerce-tabs.wc-tabs-wrapper {
		clear: none;
	}

	.related.products {
		clear: both;
	}

	table.variations {
		display: none;
	}


	div.product .woocommerce-tabs ul.tabs {
		display: none !important;
	}

	#tab-description {
		width: 48%;
		float: right;

		h2 {
			display: none;
		}
	}

	.woocommerce-ordering {
		font-size: 0.8rem;
			.select {
				font-size: 0.8rem;
			}
	}

	ul.products {
		li.product {
			a {
				img {
					margin: 0;
				}

				h3 {
					text-align: center;
					color: $darkGrey;
					font-weight: 600;
				}
			}
		}

		li:first-child {
			clear: both;
		}

		li:last-child {
			margin-right: 0;
		}
	}

	.similarcollections {
		padding-top: 50px;
	}


	.related.products {
		background-color: #eef1f8;
		box-shadow: 0px -2px 2px rgba(136,136,136,0.3);

		h2 {
			font-weight: 600;
			font-size: 2.5rem;
		}

		ul li a.button {
			display: none;
		}


	}
}


.post-48 {
	.checkout.woocommerce-checkout {
		.woocommerce-billing-fields {
			display: none;
		}
	}
}

.woocommerce-info {
	border-top-color: $mainBlue;

	&:before {
		color: $mainBlue;
	}
}

#add_payment_method #payment, .woocommerce-cart #payment, .woocommerce-checkout #payment {
	background: none;
}

.woocommerce-account {
	.woocommerce-MyAccount-navigation {
		float: right;
		padding-top: 40px;

		ul {
			list-style:none;
			text-align: right;
		}
	}

	.woocommerce-MyAccount-content {
		float: left;
		text-align: left;
		padding-top: 40px;
	}
}

.post-189 {
	padding-top: 20px;
}

.woocommerce table.shop_table {
	border-radius: 0;
}

.woocommerce ul.products li.product .woocommerce-loop-category__title, .woocommerce ul.products li.product .woocommerce-loop-product__title, .woocommerce ul.products li.product h3 {
	text-align: center;
	font-weight: 600;
	padding-top: 10px;
}
.product-category a, .product a {
	position: relative;
	display: block;
}

.product-category a h2, ul .product a h2  {
	position: relative;
	top: 0;
	transition: top;
}

.product-category a img, .product-category a h2, ul .product a img, ul .product a h2 {
	transition: all 0.3s ease;
}

.product-category a:hover img, ul .product a:hover img {
	transform: scale(1.2);
	// content: "";
	// display: block;
	// position: absolute;
	// top: 45%;
	// left: 50%;
	// transform: translate(-50%, -60%);
	// width: 40px;
	// height: 40px;
	// background: $mainBlue url('/app/themes/FoundationPress/assets/images/cs/ico/eye.svg') center center;
	// background-repeat: no-repeat;
	// z-index: 2;
}

.product-category a:hover h2, ul .product a:hover h2 {
	top: 40px;
}

.product-category:hover a h2, ul .product:hover a h2 {
	color: $mainBlue;
}

div.woocommerce-variation.single_variation > div.woocommerce-variation-availability, div.woocommerce-tabs.wc-tabs-wrapper {
	display: none;
}

#post-26 > div > div > div > p:nth-child(2) {
	display: none;
}

#customer_details > div.col-1 > div > h3 {
	text-align: left;
}

#place_order {
	font-family: Poppins, sans-serif;
}

#order_review_heading {
	margin-top: 2.5rem;
}

.similarcollections h2 {
	padding-bottom: 1.6rem;
}

h1.product_title.entry-title {
	font-size: 2rem;
}

body.archive.tax-product_cat {
	background: url('../images/cs2/bg.jpg');
	background-size: cover;

	.intro {
		.fp-intro {
			.front-headline {
				h2 {
					margin-top: 50px;
					color: $mainBlue;

					&:before {
						    content: "";
						    height: 2px;
						    width: 400px;
						    position: relative;
						    top: 34px;
						    left: -50px;
						    display: block;
						    background-color: $mainBlue;
					}

					&:after {
						    content: "";
						    height: 2px;
						    width: 400px;
						    position: relative;
						    top: -24px;
						    right: -680px;
						    display: block;
						    background-color: $mainBlue;
					}
				}
			}

			.entry-content {
				nav {
					.breadcrumb {
						p {
							color: #fff;
							font-weight: 400;
						}
						nav, nav a {
							color: #fff;
							font-weight: 400;
						}
					}
				}
			}
		}
	}
}

body > section > div > div > ul > li > a > h2 {
	color: #fff;
}

.woocommerce ul.products li.product a img {
	height: 380px;
}

body > div.greyPage.frontpage-caro > div > div > ul > div.owl-stage-outer {
	 div {
		div {
			margin-top: 20px;
			li {
				a {
					img {
						height: auto;

						&:hover {
							transform: scale(1.05);
							border-width: 4px;
						}
					}
				}
			}
		}
	}
}