.sites-button, div.woocommerce-variation-add-to-cart.variations_button.woocommerce-variation-add-to-cart-enabled > button {
  background: $mainBlue;
  font-size: 1.2rem;
  color: #fff;
  font-weight: 500;
  padding: 10px 20px;
  text-transform: uppercase;
  border-radius: 0px;
  border: 3px solid $mainBlue;
  transition: all 0.3s ease; 
  font-family: 'Helvetica Neue LT Std', sans-serif;

  &:hover {
  	background-color: rgba(0,0,0,0);
  	color: $mainBlue;
  	border: 3px solid $mainBlue;
  }
}

.woocommerce #respond input#submit.alt.disabled, .woocommerce #respond input#submit.alt.disabled:hover, .woocommerce #respond input#submit.alt:disabled, .woocommerce #respond input#submit.alt:disabled:hover, .woocommerce #respond input#submit.alt:disabled[disabled], .woocommerce #respond input#submit.alt:disabled[disabled]:hover, .woocommerce a.button.alt.disabled, .woocommerce a.button.alt.disabled:hover, .woocommerce a.button.alt:disabled, .woocommerce a.button.alt:disabled:hover, .woocommerce a.button.alt:disabled[disabled], .woocommerce a.button.alt:disabled[disabled]:hover, .woocommerce button.button.alt.disabled, .woocommerce button.button.alt.disabled:hover, .woocommerce button.button.alt:disabled, .woocommerce button.button.alt:disabled:hover, .woocommerce button.button.alt:disabled[disabled], .woocommerce button.button.alt:disabled[disabled]:hover, .woocommerce input.button.alt.disabled, .woocommerce input.button.alt.disabled:hover, .woocommerce input.button.alt:disabled, .woocommerce input.button.alt:disabled:hover, .woocommerce input.button.alt:disabled[disabled], .woocommerce input.button.alt:disabled[disabled]:hover,.woocommerce #respond input#submit.alt.disabled, .woocommerce #respond input#submit.alt.disabled:hover, .woocommerce #respond input#submit.alt:disabled, .woocommerce #respond input#submit.alt:disabled:hover, .woocommerce #respond input#submit.alt:disabled[disabled], .woocommerce #respond input#submit.alt:disabled[disabled]:hover, .woocommerce a.button.alt.disabled, .woocommerce a.button.alt.disabled:hover, .woocommerce a.button.alt:disabled, .woocommerce a.button.alt:disabled:hover, .woocommerce a.button.alt:disabled[disabled], .woocommerce a.button.alt:disabled[disabled]:hover, .woocommerce button.button.alt.disabled, .woocommerce button.button.alt.disabled:hover, .woocommerce button.button.alt:disabled, .woocommerce button.button.alt:disabled:hover, .woocommerce button.button.alt:disabled[disabled], .woocommerce button.button.alt:disabled[disabled]:hover, .woocommerce input.button.alt.disabled, .woocommerce input.button.alt.disabled:hover, .woocommerce input.button.alt:disabled, .woocommerce input.button.alt:disabled:hover, .woocommerce input.button.alt:disabled[disabled], .woocommerce input.button.alt:disabled[disabled]:hover {
  background-color: $lightGrey;
  border-radius: 0;
  padding: 10px 20px;
  text-transform: uppercase;
}

a.button, .woocommerce a.button, .woocommerce a.button.alt, .woocommerce input.button.alt {
  background: $mainBlue;
  font-size: 1.2rem;
  color: #fff;
  font-weight: 500;
  padding: 10px 20px;
  text-transform: uppercase;
  border-radius: 0px;
  border: 3px solid $mainBlue;
  transition: all 0.3s ease; 
  padding-top: 12px;

    &:hover {
    background-color: rgba(0,0,0,0);
    color: $mainBlue;
    border: 3px solid $mainBlue;
  }
}

.button.wc-forward {
  padding-top: 12px !important;
}
