.container {
	padding-top: 85px;
	background: url('../images/cs2/bg.jpg');
	background-size: cover;
	

	&__none {
		padding-top: 0px;
	}
	
	&__sm {
		padding-top: 60px;
	}

	&__med {
		padding-top: 75px;
	}

	&__lg {
		padding-top: 100px;
	}

	&__xl {
		padding-top: 130px;
	}
}