#footer-container {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  // border-top: 1px solid #ccc;
  background-color: #333333;
  height: 100%;

  box-shadow: 0px -2px 2px rgba(136,136,136,0.3);

.footer-bold {
  font-weight: 600;
  color: #444444;
}

.ico {

  &:before {
    color: #666666;
  }

  padding-top: 7px;
  padding-bottom: 7px;


  &__fb {
    @include fa-icon(facebook);
    margin-left: 3px;

    a {
      margin-left: -3px;
    }
  }

  &__twit {
    @include fa-icon(twitter);
  }

  &__insta {
    @include fa-icon(instagram);
  }

  a {
    display: inline;
    position: absolute;
    left: 30px;
    margin-top: -7px;
    font-family: Poppins, sans-serif;
  }
}


  #footer {
    background-color: $darkGrey;
    width: 100%;
    max-width: 100%;
    height: rem-calc(176);
    font-size: 0.9rem;
    color: #9b9a9a;
    height: 100%;

    h3 {
      color: $mainBlue;
      font-weight: 600;
      font-size: 1.4rem;
      padding-top: 3rem;
    }

    h4 {
      font-size: 1.2rem;
      font-weight: 600;
      color: #999999;
      display: inline-block;
      width: 26%;
    }

    hr {
      margin: 30px 0;
    }

    @media screen and (max-width: 1206px) {

      h3 {
        width: 100%;
        text-align: center;
        padding-bottom: 1rem;
      }

      h4 {
        text-align: center;
        width: 100%;
      }
    }

    a:first-child, a:nth-child(2) {
      color: #777777;
      display: inline-block;
    }

    a:nth-child(3) {
  width: 100%;
    }

    .footer-text {
      width: 100%;
      height: auto;

      p {
        text-align: center;
        margin-bottom: 3rem;
      }


      @include breakpoint(medium) {
        p {
          text-align: auto;
          transform: none;
        }

      .footer-copyright {
        float: left;
        text-align: auto;
        transform: none;
      }

      .footer-creative {
        float: right;
        border-bottom: 2px solid #9b9a9a;
      }
    }


    }
  }
}

.contact-details {
  margin: 0 13.2%;

  a {
    width: auto;
  }
}

@media screen and (max-width: 1206px) {
  .contact-details {
    margin: 0 auto;
    width: 100%;
    display: block;
    text-align: center;
  }
}

#topfooter > div > div > span.contact-subheading {
  display: block;
  font-size: 1.3rem;
}

#footer > div > div > p.footer-creative > a {
  width: initial;
}