.bluetext {
  color: $mainBlue;
}

p {
	color: #8f8f8f;
}

h1, h2, h3, h4, h5, h6 {
	color: #444444;
}

h1.entry-title{
	font-size: 2.5rem;
	font-weight: 700;
	margin-bottom: 1.5rem;
}

a {
	color: $mainBlue;
}

.ico-mail {
	display: block;
	background: url('/app/themes/FoundationPress/assets/images/cs/ico/email.svg');
	height: 50px;
	width: 50px;
}

.ico {
	height: auto;
	width: 1.7rem;
	max-width: 100%;
}

.ico-nav {
	position: relative;
	bottom: 3px;
}